<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-md-12 bg-light border-bottom pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <ul class="list-group col-md-5">
              <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span>
                <button type="button" class="suggest-text">Offer of the day</button>
              </li>
              <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span>
                <button type="button" class="suggest-text">TOP Selling</button>
              </li>
              <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span>
                <button type="button" class="suggest-text">New Arrivals</button>
              </li>
              <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span>
                <button type="button" class="suggest-text">Recommended for you</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
