<ul class="list-group">
  <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span><div class="suggest-text">Offer of the day</div></li>
  <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span><div class="suggest-text">TOP Selling</div></li>
  <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span><div class="suggest-text">New Arrivals</div></li>
  <li class="list-group-item"><span class="material-icons-outlined suggest-icon">double_arrow</span><div class="suggest-text">Recommended for you</div></li>
</ul>
