.size-input-amount {
  height: 40px;
  &.form-control {
    width: 70px;
  }
}

.add-cart-btn {
  span:before {
    content: " ";
  }
}

.product-img {
  // force max width but not height to keep nice proportions
  max-width: 300px;
}
