<div class="container">
  <div class="row mb-5"></div>
  <div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="card">
        <!--<div class="card-header">
          <div class="row">
            <div class="col-md-5">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary active"><i class="fas fa-th"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-th-list"></i></button>
                <button type="button" class="btn btn-secondary">
                  <i class="fas fa-sync-alt"></i>
                  <span>Product Compare (0)</span>
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Sort By:</span>
                </div>
                <select class="form-control" id="" name="">
                  <option value="">Default</option>
                  <option value="">Name (A - Z)</option>
                  <option value="">Name (Z - A)</option>
                  <option value="">Price (Low &gt; High)</option>
                  <option value="">Price (High &gt; Low)</option>
                  <option value="">Rating (Highest)</option>
                  <option value="">Rating (Lowest)</option>
                  <option value="">Model (A - Z)</option>
                  <option value="">Model (Z - A)</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Show:</span>
                </div>
                <select class="form-control" id="" name="">
                  <option value="">15</option>
                  <option value="">25</option>
                  <option value="">50</option>
                  <option value="">75</option>
                  <option value="">100</option>
                </select>
              </div>
            </div>
          </div>
        </div>-->
        <div class="card-body">
          <div class="row">
            <!-- bootstrap classes col-4 will have a max of 3 items per row -->
            <div *ngFor="let product of products" class="col-4 col-sm-4 col-md-4 col-lg-4">
              <div class="card">
                <img class="card-img-top product-img" [src]="sanitizeImageUrl(product.imageUrl)" [alt]="product.name" />
                <div class="card-body">
                  <p class="h6"><small class="text-muted">{{ product.name }}</small><br/>{{ product.description }}</p>
                  <p class="m-0">
                    <span><i>quantity:</i> {{ product.quantity }}</span>
                    <br/>
                    <span><i>weight:</i> {{ formatWeight(product.weightGram) }}</span>
                  </p>
                  <p class="row mb-3"></p>
                  <p class="m-0">
                    <span><i>Fab. date:</i> {{ product.fabricationDate | date: 'yyyy-MM-dd' }}</span>
                    <br/>
                    <span><i>Exp. date:</i> {{ product.expirationDate | date: 'yyyy-MM-dd' }}</span>
                  </p>
                  <p class="row mb-3"></p>
                  <p *ngIf="product.discountPrice == null" class="h5 m-0">{{ formatPrice(product.unitPrice, product.currency) }}</p>
                  <p *ngIf="product.discountPrice != null" class="h5 m-0">{{ formatPrice(product.discountPrice, product.currency) }} <s class="lead text-muted">{{ formatPrice(product.unitPrice, product.currency) }}</s></p>
                </div>
                <div class="card-footer p-0">
                  <div class="btn-group" role="group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text size-input-amount" id="">Amount</span>
                        </div>
                        <input type="text" class="size-input-amount form-control" placeholder="0" aria-label="amount">
                      <button type="button" class="btn btn-light add-cart-btn">
                        <i class="fas fa-cart-plus"></i>
                        <span>Add Cart</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
                <div class="card-body">
                  <p class="h6"><small class="text-muted">Apple</small><br/>Butterflies Hand composite</p>
                  <p class="row mb-3"></p>
                  <p class="m-0">
                    <i class="fa-xs far fa-star"></i>
                    <i class="fa-xs far fa-star"></i>
                    <i class="fa-xs far fa-star"></i>
                    <i class="fa-xs far fa-star"></i>
                    <i class="fa-xs far fa-star"></i>
                  </p>
                  <p class="h5 m-0">$782.00 <s class="lead text-muted">$943.00</s></p>
                </div>
                <div class="card-footer p-0">
                  <div class="btn-group" role="group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text size-input-amount" id="">Amount</span>
                      </div>
                      <input type="text" class="size-input-amount form-control" placeholder="0" aria-label="amount">
                      <button type="button" class="btn btn-light">
                        <i class="fas fa-cart-plus"></i>
                        <span>Add Cart</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
        <!--<div class="card-footer p-3">
          <div class="row">
            <div class="col-md-6">
              <ul class="pagination m-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <p class="text-right mb-0 mt-1">Showing 1 to 12 of 12 (1 Pages)</p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>


