<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <span class="nav-link">Categories</span>
            </li>
            <li class="nav-item dropdown">
              <a class="quotes-item nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Food"list"
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Fresh Food</a>
                <a class="dropdown-item" href="#">Sealed Food</a>
                <a class="dropdown-item" href="#">Frozen Food</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health & Fitness
              </a>
              <div class="dropdown-menu">
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">Sport</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Proteine</a>
                <a class="dropdown-item" href="#">Creatine</a>
                <a class="dropdown-item" href="#">Pre-workout</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">Health, Vitamines</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Protection mask</a>
                <a class="dropdown-item" href="#">Muscle relief</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beauty
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Face & Body Skincare</a>
                <a class="dropdown-item" href="#">Shower, Bath</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pet supplies
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Animal Food</a>
                <a class="dropdown-item" href="#">Shampoos, Sprays</a>
              </div>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link" href="#">Hobby, Film, Music, Books</a>-->
            <!--</li>-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
