<div class="container-fluid position-relative">
  <div class="row">
    <div class="col-md-12 shadow-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <span class="nav-link menu-title">Categories</span>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="quotes-item nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                      Food"list"
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="redirect('fresh-food')" href="Javascript:void(0)">Fresh Food</a>
                      <a class="dropdown-item" (click)="redirect('sealed-food')" href="Javascript:void(0)">Sealed Food</a>
                      <a class="dropdown-item" (click)="redirect('frozen-food')" href="Javascript:void(0)">Frozen Food</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Health & Fitness
                    </a>
                    <div class="dropdown-menu">
                      <div class="dropdown-divider"></div>
                      <span class="dropdown-header">Sport</span>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="redirect('sport-protein')" href="Javascript:void(0)">Proteine</a>
                      <a class="dropdown-item" (click)="redirect('sport-creatine')" href="Javascript:void(0)">Creatine</a>
                      <a class="dropdown-item" (click)="redirect('sport-pre')" href="Javascript:void(0)">Pre-workout</a>
                      <div class="dropdown-divider"></div>
                      <span class="dropdown-header">Health, Vitamins</span>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="redirect('health-protection-mask')" href="Javascript:void(0)">Protection mask</a>
                      <a class="dropdown-item" (click)="redirect('health-muscle-relief')" href="Javascript:void(0)">Muscle relief</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Beauty
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="redirect('beauty-face-and-body-skincare')" href="Javascript:void(0)">Face & Body Skincare</a>
                      <a class="dropdown-item" (click)="redirect('beauty-shower-and-bath')" href="Javascript:void(0)">Shower, Bath</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                      Pet supplies
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="redirect('pet-food')" href="Javascript:void(0)">Animal Food</a>
                      <a class="dropdown-item" (click)="redirect('pet-shampoos-and-sprays')" href="Javascript:void(0)">Shampoos, Sprays</a>
                    </div>
                  </li>
                  <!--<li class="nav-item">-->
                  <!--  <a class="nav-link" href="#">Hobby, Film, Music, Books</a>-->
                  <!--</li>-->
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
